@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    background:url(../imagens/bg.png);
    margin: 15px;
    font-family:'Public Sans', sans-serif;
}
#container{
    background: url(../imagens/bg-container.png)top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;

}
#topo{
    position: relative;
    background-color: #dbcd87;
    height: 15.4em;
    min-height: 250px;/*Isso significa que essa será a altura minima ou seja caso a pagina diminua o seu conteudo ele não passara disso */
}
#logo{
    position: absolute;
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
}
.loginho a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 4;
    background: url(../imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}
#menu{
    position: absolute;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
    z-index: 3;
}
#conteudo{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}
#locais{
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}
#locais .estados{
    float: left;
    line-height: 2.1em;
}
a{
    text-decoration: none;
}
a.reserva{
    text-transform: uppercase;
    background-color: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}
#menuv{
    margin-top: 15px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#nav{
    float: left;
}
ul#nav a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
}
ul#nav a:hover{
    background-color: #fdf6be;
}
.depoimento{
    float: right;
    width: 226px;
    height: 164px;
}
#principal{
    float: left;
    width: 50%;
    background: url(../imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}
#lateral{
    float: right;
    width: 50%;
    background: url(../imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}
.conteudo-meio{
    margin: 0 auto;
    width: 90%;
}
#rodape{
    clear: both;
    padding: 16px;
    background: #fff url(../imagens/bg-rodape.png) repeat-x top;
    color: #7d7640;
}
h2{
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0px;
}
p{
    font-size: 1em;
    margin-bottom: 10px;
}
ul#fotos li{
    padding: 8px;
    border: 1px solid #f3efcb;
    height: 6em;
}
ul#fotos li a img{
    float: left;
    margin-right: 8px;
}
ul#fotos a p{
    font-size: 0.8em;
    color: black;
}
ul#fotos li a h3{
    font-size: 1.1em;
    color: #615b2d;
    padding: 5px 0px;
    background: url(../imagens/ornamento.png) no-repeat center right;
}
ul#fotos li:hover{
    background-color: #f6f3d6;
    cursor: pointer;
}