@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    background:url(../imagens/bg.png);
    margin: 15px;
    font-family:'Public Sans', sans-serif;
}
#container{
    background: #ede9cc;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;

}
#topo{
    position: relative;
    background-color: #dbcd87;
    height: 15.4em;
    min-height: 250px;/*Isso significa que essa será a altura minima ou seja caso a pagina diminua o seu conteudo ele não passara disso */
}
#logo{
    position: absolute;
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
}
.loginho a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 4;
    background: url(../imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}
#menu{
    position: absolute;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
    z-index: 3;
}
#conteudo{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}
#locais{
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}
#locais .estados{
    float: left;
    line-height: 2.1em;
}
a{
    text-decoration: none;
}
a.reserva{
    text-transform: uppercase;
    background-color: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}