*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    background:url(../imagens/bg.png);
    margin: 15px;
}
#container{
    background: #ede9cc;
}
#topo{
    position: relative;
    background-color: #dbcd87;
    height: 15.4em;
    min-height: 250px;/*Isso significa que essa será a altura minima ou seja caso a pagina diminua o seu conteudo ele não passara disso */
}
#logo{
    position: absolute;
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
}
#menu{
    position: absolute;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
}